.feedback {
  width: 100%;
  max-width: 450px;
  padding: 15px;
  margin: auto;
}

.header {
  margin-top: 20px;
  margin-bottom: 70px;
}

.return {
  color: black;
}

.progress-container {
  margin: auto;
  justify-content: space-evenly;
  height: 100%;
  margin-right: 0px;
}

.feedback-image{
  text-align: center;
}
